.auth {
    @include flex(column, flex-end);
    width: 16em;

    > * {
        margin-bottom: 0.75em;
    }

    > p {
        @include font(600, 12px);
        align-self: flex-start;
    }
}

.btnBar {
    @include flex(row, flex-start, space-between);
    width: 100%;
}
