.auth {
    @include flex(column, flex-end);
    width: 16em;

    > * {
        margin-bottom: 0.75em;
    }

    > p {
        @include font(600, 12px);
        line-height: 1.35em;
        align-self: flex-start;
    }
}

.linkButton {
    @include font(600, 12px);
    padding: 0.25em;
    color: var(--c-primary);
    transition: all;
    cursor: pointer;

    &:hover {
        color: var(--c-primary-accent);
    }
}

.btnBar {
    @include flex(row, flex-start, space-between);
    width: 100%;
}
