.login {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-background-primary);
    z-index: 50;

    > svg {
        @include size(13.5em);
        fill: var(--c-primary);
    }
}

.portal {
    width: 16em;
}
