.popover {
    @include flex(column);
}

.title {
    @include flex(row, center, space-between);
    padding: 1em;
    border-bottom: 1.5px solid var(--c-text-primary);
    color: var(--c-text-primary);

    > bc-icon {
        margin-left: 0.5em;
    }

    > button {
        @include flex(row, center, center);
        font-size: 12px;
        transition: all 0.3s;
        padding: 0.5em;
        color: var(--c-text-primary);
        border-radius: 0.25em;

        &:hover {
            background: var(--c-background-secondary);
        }
    }
}

.content {
    padding: 1em;
}
