.popover {
    @include flex(column);
}

.title {
    @include flex(row, center, space-between);
    padding: 1em;
    border-bottom: 1.5px solid var(--c-text-primary);
    color: var(--c-text-primary);

    > bc-icon {
        margin-left: 0.5em;
    }
}

.content {
    padding: 1em;
}
