.popover {
    @include position(0, 0, 0, 0);
    @include flex(row, center, center);
    position: absolute;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;

    &[data-visible] {
        visibility: visible;
        transform: none;
        opacity: 1;

        &::before {
            @include position(0, 0, 0, 0);
            @include pseudo();
            background: var(--c-background-secondary);
            opacity: 0.5;
        }

        .container {
            transform: none;
            opacity: 1;

            @include animate('0.5s ease-in-out') {
                0% {
                    transform: scale(0.95);
                }
                50% {
                    transform: scale(1.01);
                }
            }
        }
    }
}

.container {
    transition: all 0.5s;
    opacity: 0;
    z-index: 10;
    background: var(--c-background-primary);
    padding: 1em 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 1em var(--c-background-tertiary);
    position: relative;


    > button {
        @include position(0.85em, 0.85em, auto, auto);
        position: absolute;
        font-size: 12px;
        color: var(--c-text-primary);
        transition: all 0.3s;

        &:hover {
            color: var(--c-primary);
        }
    }
}
