.userEditor {
    @include flex(column);
    padding: 0.5em;
    color: var(--c-text-primary);
}

.form {
    @include flex(row);

    > section {
        h3 {
            @include font(600, 13px);
        }

        .header {
            @include flex(row, center, space-between);
            margin-bottom: 0.5em;
            height: 1.5em;
        }

        &:not(:first-child) {
            border-left: 2px solid var(--c-background-secondary);
            margin-left: 1em;
            padding-left: 1em;
        }
    }

    .fields {
        > *:not(:first-child) {
            margin-top: 0.5em;
        }
    }
}

.restrictions {

    .options {
        transition: all 0.3s;
        visibility: hidden;
        opacity: 0;

        &[data-visible] {
            visibility: visible;
            opacity: 1;
        }
    }
}

.actionBar {
    @include flex(row, center, space-between);
    margin-top: 1em;
}
