.forgotPassword {
    @include flex(column, flex-end);
    @include width(50%, 10em, 17.5em);
    color: var(--c-text-primary);

    > h3 {
        @include font(600, 13px);
        line-height: 1.5em;
        margin-bottom: 1em;
    }

    .btnBar {
        @include flex(row, flex-start, space-between);
        margin-top: 0.5em;
        width: 100%;

        > a {
            @include font(600, 12px);
            color: var(--c-text-primary);
            transition: none;

            &:hover {
                color: var(--c-primary);
                text-decoration: underline;
            }
        }
    }
}

.verified {
    text-align: center;

    .msg {
        @include font(300, 13px);
        @include flex(row, center, center);
        margin-bottom: 0.5em;
        color: var(--c-text-secondary);
        background: var(--c-green);
        padding: 0.75em 1em;
        text-align: center;
        position: relative;
        border-radius: 0.15em;

        &::after {
            @include pseudo();
            @include position(auto, 0, -5px, 0);
            @include size(100%, 3px);
            position: absolute;
            background: var(--c-green);
            border-radius: 0.15em;

            @include animate('1s') {
                from {
                    transform: scaleX(0);
                }
                to {
                    transform: none;
                }
            }
        }

        small {
            display: inline-block;
            margin-top: 0.5em;
        }


        bc-icon {
            margin-right: 0.5em;
            flex-shrink: 0;
        }
    }

    > a {
        @include font(600, 12px);
        text-align: center;
        margin-top: 1em;

        &:hover {
            text-decoration: underline;
        }
    }
}
