.infoBar {
    width: 100%;
}

.status {
    @include flex(row, center, space-between);
    width: 100%;
    color: var(--c-text-secondary);
    padding: 0.35em 0.75em;
    border-radius: 0.25em;
    line-height: 1.1em;

    &[data-status=error] {
        background: var(--c-red);
        border: 2px solid var(--c-red-accent);
    }

    &[data-status=warning] {
        background: var(--c-yellow);
        border: 2px solid var(--c-yellow-accent);
    }

    &[data-status=ok] {
        background: var(--c-green);
        border-color: var(--c-green-accent);
    }

    &:not(:first-child) {
        margin-top: 0.25em;
    }

    > span {
        @include font(600, 12px);
    }

    > bc-icon {
        font-size: 16px;
    }
}

.requestNewVerificationEmail {
    @include flex(row, flex-start, space-between);
    margin-top: 0.5em;

    > p {
        @include font(600, 12px);
        color: var(--c-text-primary);
    }
}
