.button {
    @include inline-flex(row, center, center);
    @include font(600, 13px);
    border-radius: 0.25em;
    padding: 0.55em 1em 0.5em;
    transition: all 0.3s;
    background: var(--c-color);
    color: var(--c-text-secondary);
    border: 2px solid var(--c-color);
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    --loading-indicator-background: var(--c-color);
    --loading-indicator-color: var(--c-text-secondary);

    $types: ('primary', 'red', 'yellow');
    @each $type in $types {
        &[data-type=#{$type}] {
            --c-color: var(#{'--c-' + $type});
            --c-accent: var(#{'--c-' + $type+ '-accent'});
            --c-focus: var(#{'--c-' + $type + '-focus'});
        }
    }

    @include disabled {
        border-color: var(--c-background-secondary);
        background: transparent;
        cursor: not-allowed;
        color: var(--c-background-secondary-hover);
    }

    > bc-icon {
        font-size: 1.25em;
        margin-right: 0.5em;
        flex-shrink: 0;
    }

    > span {
        line-height: 1.1em;
    }

    &:focus {
        @include focus_border(--c-focus)
    }

    &:hover {
        background: var(--c-accent);
    }
}
