.checkbox {
    @include size(18px);
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    border: 1.5px solid var(--color);
    border-radius: 2px;
    transition: all 0.3s;
    --color: var(--c-text-primary);

    > svg {
        @include size(70%);
        @include position(0, 0, 0, 0);
        margin: auto;
        position: absolute;
        fill: transparent;
        stroke: transparent;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-dasharray: 54;
        stroke-dashoffset: 54;
        transition: all 0.3s;
        transform: scale(0.85);
        opacity: 0;
    }

    &::before {
        @include position(0, 0, 0, 0);
        @include pseudo();
        @include size(65%, 1.5px);
        border-radius: 1em;
        margin: auto;
        background: var(--c-text-secondary);
        transform-origin: left center;
        transition: all 0.3s;
        transform: scale(0);
        opacity: 0;
    }

    &:focus {
        @include focus_border(--c-primary-focus);
    }

    &[data-state=true] {
        background: var(--color);
        --color: var(--c-primary);

        > svg {
            stroke: var(--c-text-secondary);
            stroke-dashoffset: 0;
            opacity: 1;
            transform: none;
        }
    }

    &[data-state=null] {
        background: var(--color);
        --color: var(--c-primary);

        &::before {
            transform: none;
            opacity: 1;
        }
    }

    @include disabled {
        border-color: var(--c-background-secondary);
        background: transparent;
        cursor: not-allowed;
        color: var(--c-background-secondary-hover);
    }
}
