.inputField {
    @include flex(row, center);
    @include size(100%, 2.5em);
    border-radius: 0.25em;
    transition: all 0.3s;
    border: 2px solid var(--com-color);
    position: relative;
    width: 100%;
    flex-shrink: 1;
    --com-color: var(--c-background-secondary-accent);
    --com-color-focus: var(--c-primary-focus);
    --com-color-hover: var(--c-background-secondary-hover);

    &:hover:not(.disabled):not(.errored) {
        --com-color: var(--com-color-hover);
    }

    &:focus-within:not(.disabled):not(.errored) {
        --com-color: var(--c-primary);
    }

    &:focus-within:not(.disabled) {
        @include focus_border(--com-color-focus);
    }

    &.button {
        cursor: pointer;

        > input {
            cursor: pointer;
        }
    }

    &.errored {
        --com-color-focus: var(--c-red-focus);
        --com-color: var(--c-red);
    }

    &.disabled {
        cursor: not-allowed;

        input {
            pointer-events: none;
            color: var(--c-text-disabled);
        }
    }

    > bc-icon {
        margin-right: 0.5em;
        margin-left: 0.75em;
        color: var(--com-color);
        transition: all 0.3s;
    }

    > input {
        @include font(600, 13px);
        color: var(--c-text-primary);
        width: 100%;
        padding-right: 0.75em;

        &::placeholder {
            transition: all 0.3s;
            color: var(--com-color-hover);
        }
    }
}

.passwordQualityMeter {
    @include size(5px, calc(100% - 0.75em));
    margin: 0 0.5em;
    position: relative;
    border-radius: 10em;
    background: hsl(calc(var(--pwd-entropy) * 120), 75%, 50%);
    clip-path: inset(calc((1 - var(--pwd-entropy)) * 100%) 0 0 0);
    transition: all 0.3s;
}
