.navBar {
    @include flex(row);
    @include size(100%);
}

.tabButtons {
    @include flex(column);
    padding: 1em 1em 1em 0;
    border-right: 2px solid var(--c-background-secondary);
    flex-shrink: 0;
}

.tabButton {
    @include flex(row, center);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0 10em 10em 0;
    color: var(--c-text-primary-inactive);
    margin: 0.5em 0;
    transition: all 0.3s;
    border-left: 2px solid transparent;

    > span {
        @include font(600, 0.9em);
        margin-left: 0.5em;
    }

    > bc-icon {
        @include size(20px)
    }

    &[data-active] {
        color: var(--c-text-primary);
        border-color: var(--c-primary);
    }

    &:not([data-active]):hover {
        background: var(--c-background-secondary);
        color: var(--c-text-primary);
    }

    &.logout {
        margin-top: auto;

        &:hover {
            color: var(--c-red);
        }
    }
}

.tabContainers {
    @include size(100%);
    position: relative;
    overflow: auto;
}

.tabContainer {
    transition: all 0.3s;
    transform-origin: left center;
    transform: scale(0.99);
    visibility: hidden;
    opacity: 0;

    &.active {
        transform: none;
        opacity: 1;
        visibility: visible;
    }
}
