.userList {
    @include size(100%);
    position: relative;
    overflow: auto;

    &::after {
        display: block;
        content: '';
        height: 3em;
    }

    &[data-hide] {
        opacity: 0;
    }
}
