.login {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-background-primary);
    transform: scale(0.98) translateY(0.5em);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 50;

    > svg {
        @include size(13.5em);
        fill: var(--c-primary);
        transition: all 0.3s;
        transform: translateY(-2em);
        opacity: 0;
    }
}

.visible {
    opacity: 1;
    transform: none;
    visibility: visible;

    > svg {
        transform: none;
        opacity: 1;
    }

    .form > * {
        opacity: 1;
        transform: none;

        $items: 3;
        @for $i from 0 through $items {
            > *:nth-child(#{$i}) {
                transition-delay: ($items - $i) * 75ms;
            }
        }
    }
}

.form {
    @include flex(column, flex-end);
    width: 16em;

    > * {
        margin-bottom: 0.75em;
        transition: all 0.3s;
        transform: translateY(2em);
        opacity: 0;
    }

    $items: 3;
    @for $i from 0 through $items {
        > *:nth-child(#{$i}) {
            transition-delay: $i * 75ms;
        }
    }
}

.btnBar {
    @include flex(row, flex-start, space-between);
    width: 100%;

    > button.resetPassword {
        @include font(600, 12px);
        color: var(--c-text-primary);
        transition: none;

        &:hover {
            color: var(--c-primary);
            text-decoration: underline;
        }
    }
}

