.users {
    @include size(100%);
    @include flex(column);
    padding-bottom: 1em;
}

.table {
    --grid-columns: 1.5em 1.5em 1em 0.5fr 1fr 0.35fr 0.35fr 1.5em;
    max-height: calc(100% - 3.5em);
    flex-grow: 1;
}
