.userList {
    @include scroll-shadow(rgba(0, 0, 0, 0.15), var(--c-background-primary));
    @include size(100%);
    position: relative;
    overflow: auto;
    transition: all 0.3s;
    will-change: transform;
    flex-grow: 1;

    &::after {
        display: block;
        content: '';
        height: 3.5em;
    }

    &[data-hide] {
        opacity: 0;
    }

    &[data-empty] {
        @include flex(row, center, center);

        .placeholder {
            display: block;
        }
    }
}

.placeholder {
    @include flex(column, center, center);
    color: var(--c-text-primary);
    text-align: center;
    display: none;
}
