.button {
    @include inline-flex(row, center);
    border-radius: 0.2em;
    padding: 0.55em 1.25em 0.5em;
    transition: all 0.3s;
    background: var(--c-color);
    color: var(--c-text-secondary);
    position: relative;
    overflow: hidden;

    $types: ('primary', 'red', 'yellow');
    @each $type in $types {
        &[data-type=#{$type}] {
            --c-color: var(#{'--c-' + $type});
            --c-accent: var(#{'--c-' + $type+ '-accent'});
            --c-focus: var(#{'--c-' + $type + '-focus'});
        }
    }

    @include disabled {
        background: var(--c-background-secondary-accent);
        cursor: not-allowed;

        > span {
            color: var(--c-text-disabled);
        }
    }

    > bc-icon {
        margin-right: 0.5em;
    }

    > span {
        @include font(400, 14px);
    }

    &:focus {
        @include focus_border(--c-focus)
    }
}

.loadingIndicator {
    @include position(0, 0, 0, 0);
    @include flex(row, center, center);
    position: absolute;
    background: var(--c-color);

    @include animate('0.3s ease-in-out') {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    > div {
        @include size(4px);
        border-radius: 100%;
        background: var(--c-text-secondary);
        margin: 0.15em;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: $i * -300ms;
            }
        }

        @include animate('0.6s linear infinite alternate') {
            from {
                transform: scale(0.5);
            }
            to {
                transform: scale(1.5);
            }
        }
    }
}
