.button {
    @include flex(row, center);
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    transition: all 0.3s;
    border: 1.5px solid var(--com-color);
    width: 100%;
    --com-color: var(--c-background-secondary-accent);
    --com-color-focus: var(--c-primary-focus);

    &.empty {
        pointer-events: none;
        cursor: default;

        > bc-icon {
            opacity: 0;
        }
    }

    &:hover {
        --com-color: var(--c-background-secondary-hover);
    }

    &:focus-within {
        @include focus_border(--com-color-focus);
        --com-color: var(--c-primary);
    }

    > p {
        @include font(600, 0.85em);
        display: inline-block;
        color: var(--c-text-primary);
        text-align: left;
    }

    > bc-icon {
        font-size: 14px;
        margin-right: 0.5em;
        transition: all 0.3s;
        color: var(--com-color);
    }
}

.items {
    @include flex(column);
    border-radius: 0.25em;
    padding: 0.25em 0;

    > button {
        @include font(300, 0.9em);
        color: var(--c-text-primary);
        background: var(--c-background-primary);
        transition: all 0.3s;
        padding: 0.5em 1em;
        cursor: pointer;
        text-align: left;

        &:focus {
            z-index: 1;
            border-radius: 0.15em;
        }

        &:hover {
            background: var(--c-background-secondary-accent);
        }
    }
}
