.portal {
    transition: all 0.15s;

    &[data-fadeout] {
        opacity: 0;
    }

    &[data-hidden] {
        display: none;
    }

    @include animate('0.15s') {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
