.searchFilter {
    @include flex(column);


    > section {
        .label {
            @include font(600, 13px);
            margin-bottom: 0.25em;
            color: var(--c-text-primary);
        }
    }
}

.sort {

    > div {
        @include flex(row, center);
        height: 100%;

        > button {

        }
    }
}

.btn {
    margin: 1em 0 0 auto;
}
