.infoBar {
    width: 100%;

    > * {
        @include margin-between-v(0.5em);
    }
}

.status {
    @include flex(row, center, space-between);
    width: 100%;
    color: var(--c-text-secondary);
    padding: 0.45em 0.85em;
    border-radius: 0.25em;
    line-height: 1.1em;

    &[data-status=error] {
        background: var(--c-red);
    }

    &[data-status=warning] {
        background: var(--c-yellow);
    }

    &[data-status=ok] {
        background: var(--c-green);
    }

    &:not(:first-child) {
        margin-top: 0.25em;
    }

    > span {
        @include font(600, 12px);
    }

    > bc-icon {
        font-size: 16px;
    }
}

.requestNewVerificationEmail {
    @include flex(row, flex-start, space-between);

    > p {
        @include font(600, 12px);
        color: var(--c-text-primary);
    }

    > button {
        font-size: 11px;
    }
}
