.mfaSetup {
    @include flex(column, center);
    color: var(--c-text-primary);
    width: 100%;

    > header {
        @include flex(row, center, space-between);
        width: 100%;

        > h3 {
            @include flex(row, center);
            @include font(600, 0.9em);
            text-align: left;
            margin: 0;

            > bc-icon {
                margin-left: 0.5em;

                &[name=lock] {
                    color: var(--c-green);
                }

                &[name=unlock] {
                    color: var(--c-red);
                }
            }
        }
    }

    > p {
        @include font(600, 13px);
    }

    > h3 {
        margin: 0.5em 0;
    }

    article {
        @include font(300, 13px);
        line-height: 1.45em;
        margin-top: 0.5em;
    }


    .secret {
        margin-bottom: 1em;

        > b {
            user-select: all;
        }
    }
}

.qrCode {
    @include flex(row, flex-start, flex-start);
    margin-top: 1em;
    width: 100%;
    height: 10em;

    > svg {
        @include size(100%);

        > path:last-child {
            stroke: var(--c-text-primary);
        }
    }
}

.backupCodes {
    .list {
        display: grid;
        grid-gap: 0.5em;
        grid-template: 1fr 1fr 1fr /  1fr 1fr;
        margin-top: 0.5em;
        align-items: center;
        justify-items: center;

        .code {
            @include font(600, 13px);
            font-family: monospace;
            background: var(--c-background-primary-accent);
            padding: 0.35em 0.75em;
            border-radius: 0.15em;
            color: var(--c-text-primary);
            user-select: text;
        }
    }

    .buttonBar {
        @include flex(row, center, space-between);
        margin-top: 1em;
    }
}

.form {
    @include flex(column, flex-end, flex-end);
    margin-top: 1em;
    width: 70%;

    > button {
        margin-top: 0.75em;
    }
}
